/* Mobile first queries */
header{
    color: #fff;
    background: linear-gradient(135deg, #bd68c1 0%, #6067bc 50%, #00afb5 100%);
    text-align: center;
    padding: 20px 0px;

    h1{
        font-size: 4rem;
        margin-bottom: 0;
    }
    p{
        font-size: 2rem;
        margin-top: 0;
    }
}




/* Desktop queries */
@media (min-width: 976px) {
    header{
        padding: 200px;

        h1{
            font-size: 8rem;
        }
        p{
            font-size: 2rem;
        }
    }
}